In [12]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [16]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT Facilities.name, SUM(IIF(Members.firstname LIKE 'GUEST%' ,Facilities.guestcost*Bookings.slots, Facilities.membercost*Bookings.slots)) AS Revenue
        FROM ((Bookings
        INNER JOIN Members
        ON Bookings.memid=Members.memid)
        INNER JOIN Facilities
        ON Facilities.facid=Bookings.facid)
        GROUP BY Facilities.name
        HAVING SUM(IIF(Members.firstname LIKE 'GUEST%' ,Facilities.guestcost*Bookings.slots, Facilities.membercost*Bookings.slots))<1000
        ORDER BY Revenue;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [13]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT Member.surname,Member.firstname, Rec.surname, Rec.firstname
        FROM Members AS Member
        JOIN Members as Rec
        ON Member.memid=Rec.recommendedby
        ORDER BY Rec.surname;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Stibbons', 'Ponder', 'Bader', 'Florence')
('Stibbons', 'Ponder', 'Baker', 'Anne')
('Farrell', 'Jemima', 'Baker', 'Timothy')
('Rownam', 'Tim', 'Boothe', 'Tim')
('Smith', 'Darren', 'Butters', 'Gerald')
('Baker', 'Timothy', 'Coplin', 'Joan')
('Smith', 'Tracy', 'Crumpet', 'Erica')
('Joplette', 'Janice', 'Dare', 'Nancy')
('Butters', 'Gerald', 'Genting', 'Matthew')
('Purview', 'Millicent', 'Hunt', 'John')
('Joplette', 'Janice', 'Jones', 'David')
('Jones', 'David', 'Jones', 'Douglas')
('Smith', 'Darren', 'Joplette', 'Janice')
('Smith', 'Darren', 'Mackenzie', 'Anna')
('Smith', 'Darren', 'Owen', 'Charles')
('Farrell', 'Jemima', 'Pinker', 'David')
('Smith', 'Tracy', 'Purview', 'Millicent')
('Genting', 'Matthew', 'Rumney', 'Henrietta')
('Bader', 'Florence', 'Sarwin', 'Ramnaresh')
('Smith', 'Darren', 'Smith', 'Jack')
('Tracy', 'Burton', 'Stibbons', 'Ponder')
('Smith', 'Tracy', 'Worthington-Smyth', 'Henry')

Q12: Find the facilities with their usage by member, but not guests

In [18]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT Facilities.name, Members.surname, Members.firstname, COUNT(Bookings.memid) AS MemberUsage
        FROM ((Bookings
        INNER JOIN Members
        ON Members.memID=Bookings.memid)
        INNER JOIN Facilities
        ON Facilities.facid=Bookings.facid)
        WHERE Bookings.memid != 0
        GROUP BY Facilities.name, Members.surname, Members.firstname
        ORDER BY MemberUsage DESC;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', 'Rownam', 'Tim', 241)
('Badminton Court', 'Smith', 'Darren', 132)
('Pool Table', 'Baker', 'Timothy', 85)
('Massage Room 1', 'Rownam', 'Tim', 80)
('Pool Table', 'Mackenzie', 'Anna', 70)
('Table Tennis', 'Rownam', 'Tim', 69)
('Snooker Table', 'Joplette', 'Janice', 68)
('Pool Table', 'Smith', 'Tracy', 61)
('Tennis Court 1', 'Butters', 'Gerald', 57)
('Tennis Court 2', 'Boothe', 'Tim', 52)
('Squash Court', 'Baker', 'Anne', 49)
('Snooker Table', 'Smith', 'Tracy', 45)
('Snooker Table', 'Boothe', 'Tim', 43)
('Table Tennis', 'Bader', 'Florence', 42)
('Tennis Court 2', 'Owen', 'Charles', 41)
('Massage Room 1', 'Boothe', 'Tim', 36)
('Squash Court', 'Tracy', 'Burton', 35)
('Tennis Court 2', 'Baker', 'Anne', 35)
('Snooker Table', 'Butters', 'Gerald', 34)
('Pool Table', 'Worthington-Smyth', 'Henry', 33)
('Snooker Table', 'Bader', 'Florence', 33)
('Badminton Court', 'Smith', 'Tracy', 32)
('Massage Room 1', 'Butters', 'Gerald', 32)
('Massage Room 1', 'Tracy', 'Burton', 31)
('Tennis Court 1', 'Tracy', 'Burton', 31)
('Tennis Court 2', 'Stibbons', 'Ponder', 31)
('Badminton Court', 'Mackenzie', 'Anna', 30)
('Pool Table', 'Tracy', 'Burton', 30)
('Tennis Court 1', 'Smith', 'Tracy', 30)
('Tennis Court 2', 'Jones', 'David', 30)
('Massage Room 1', 'Farrell', 'Jemima', 29)
('Massage Room 1', 'Smith', 'Darren', 28)
('Pool Table', 'Smith', 'Darren', 28)
('Table Tennis', 'Smith', 'Darren', 28)
('Table Tennis', 'Smith', 'Tracy', 28)
('Massage Room 1', 'Smith', 'Jack', 27)
('Pool Table', 'Joplette', 'Janice', 27)
('Table Tennis', 'Genting', 'Matthew', 26)
('Massage Room 1', 'Genting', 'Matthew', 25)
('Pool Table', 'Boothe', 'Tim', 25)
('Pool Table', 'Farrell', 'David', 25)
('Tennis Court 1', 'Dare', 'Nancy', 25)
('Tennis Court 1', 'Jones', 'David', 25)
('Massage Room 1', 'Baker', 'Timothy', 24)
('Table Tennis', 'Baker', 'Timothy', 24)
('Table Tennis', 'Owen', 'Charles', 24)
('Table Tennis', 'Tracy', 'Burton', 24)
('Pool Table', 'Bader', 'Florence', 23)
('Snooker Table', 'Dare', 'Nancy', 23)
('Snooker Table', 'Owen', 'Charles', 22)
('Tennis Court 1', 'Smith', 'Jack', 22)
('Snooker Table', 'Farrell', 'Jemima', 21)
('Table Tennis', 'Coplin', 'Joan', 21)
('Badminton Court', 'Butters', 'Gerald', 20)
('Snooker Table', 'Stibbons', 'Ponder', 20)
('Snooker Table', 'Tracy', 'Burton', 20)
('Massage Room 1', 'Dare', 'Nancy', 19)
('Massage Room 1', 'Jones', 'David', 19)
('Massage Room 1', 'Stibbons', 'Ponder', 19)
('Pool Table', 'Dare', 'Nancy', 19)
('Tennis Court 1', 'Joplette', 'Janice', 19)
('Tennis Court 2', 'Smith', 'Darren', 19)
('Pool Table', 'Genting', 'Matthew', 18)
('Snooker Table', 'Sarwin', 'Ramnaresh', 18)
('Table Tennis', 'Pinker', 'David', 17)
('Tennis Court 1', 'Owen', 'Charles', 17)
('Badminton Court', 'Stibbons', 'Ponder', 16)
('Snooker Table', 'Pinker', 'David', 16)
('Table Tennis', 'Mackenzie', 'Anna', 16)
('Tennis Court 1', 'Pinker', 'David', 16)
('Snooker Table', 'Rumney', 'Henrietta', 14)
('Squash Court', 'Joplette', 'Janice', 14)
('Squash Court', 'Smith', 'Darren', 14)
('Tennis Court 1', 'Baker', 'Timothy', 14)
('Pool Table', 'Sarwin', 'Ramnaresh', 13)
('Badminton Court', 'Boothe', 'Tim', 12)
('Badminton Court', 'Smith', 'Jack', 12)
('Massage Room 1', 'Joplette', 'Janice', 12)
('Pool Table', 'Baker', 'Anne', 12)
('Pool Table', 'Stibbons', 'Ponder', 12)
('Snooker Table', 'Smith', 'Darren', 12)
('Squash Court', 'Boothe', 'Tim', 12)
('Table Tennis', 'Farrell', 'Jemima', 12)
('Massage Room 1', 'Owen', 'Charles', 11)
('Pool Table', 'Coplin', 'Joan', 11)
('Table Tennis', 'Jones', 'David', 11)
('Tennis Court 2', 'Dare', 'Nancy', 11)
('Tennis Court 2', 'Sarwin', 'Ramnaresh', 11)
('Badminton Court', 'Baker', 'Anne', 10)
('Badminton Court', 'Dare', 'Nancy', 10)
('Snooker Table', 'Coplin', 'Joan', 10)
('Badminton Court', 'Bader', 'Florence', 9)
('Pool Table', 'Pinker', 'David', 9)
('Squash Court', 'Butters', 'Gerald', 9)
('Squash Court', 'Smith', 'Jack', 9)
('Table Tennis', 'Joplette', 'Janice', 9)
('Tennis Court 1', 'Jones', 'Douglas', 9)
('Badminton Court', 'Jones', 'David', 8)
('Massage Room 1', 'Sarwin', 'Ramnaresh', 8)
('Pool Table', 'Jones', 'David', 8)
('Pool Table', 'Tupperware', 'Hyacinth', 8)
('Squash Court', 'Farrell', 'Jemima', 8)
('Squash Court', 'Jones', 'David', 8)
('Tennis Court 2', 'Bader', 'Florence', 8)
('Tennis Court 2', 'Joplette', 'Janice', 8)
('Badminton Court', 'Baker', 'Timothy', 7)
('Badminton Court', 'Farrell', 'Jemima', 7)
('Badminton Court', 'Pinker', 'David', 7)
('Badminton Court', 'Sarwin', 'Ramnaresh', 7)
('Pool Table', 'Smith', 'Jack', 7)
('Snooker Table', 'Mackenzie', 'Anna', 7)
('Squash Court', 'Owen', 'Charles', 7)
('Tennis Court 1', 'Coplin', 'Joan', 7)
('Tennis Court 2', 'Baker', 'Timothy', 7)
('Badminton Court', 'Owen', 'Charles', 6)
('Massage Room 1', 'Smith', 'Tracy', 6)
('Pool Table', 'Butters', 'Gerald', 6)
('Squash Court', 'Smith', 'Tracy', 6)
('Table Tennis', 'Purview', 'Millicent', 6)
('Tennis Court 1', 'Baker', 'Anne', 6)
('Tennis Court 1', 'Farrell', 'David', 6)
('Tennis Court 1', 'Rownam', 'Tim', 6)
('Tennis Court 2', 'Rownam', 'Tim', 6)
('Massage Room 2', 'Dare', 'Nancy', 5)
('Pool Table', 'Purview', 'Millicent', 5)
('Snooker Table', 'Smith', 'Jack', 5)
('Snooker Table', 'Tupperware', 'Hyacinth', 5)
('Squash Court', 'Baker', 'Timothy', 5)
('Table Tennis', 'Dare', 'Nancy', 5)
('Table Tennis', 'Smith', 'Jack', 5)
('Tennis Court 1', 'Sarwin', 'Ramnaresh', 5)
('Badminton Court', 'Rownam', 'Tim', 4)
('Badminton Court', 'Worthington-Smyth', 'Henry', 4)
('Massage Room 2', 'Jones', 'David', 4)
('Table Tennis', 'Boothe', 'Tim', 4)
('Tennis Court 1', 'Boothe', 'Tim', 4)
('Tennis Court 1', 'Hunt', 'John', 4)
('Tennis Court 2', 'Hunt', 'John', 4)
('Massage Room 1', 'Baker', 'Anne', 3)
('Massage Room 1', 'Hunt', 'John', 3)
('Massage Room 1', 'Pinker', 'David', 3)
('Massage Room 2', 'Sarwin', 'Ramnaresh', 3)
('Pool Table', 'Rumney', 'Henrietta', 3)
('Squash Court', 'Pinker', 'David', 3)
('Table Tennis', 'Sarwin', 'Ramnaresh', 3)
('Table Tennis', 'Stibbons', 'Ponder', 3)
('Table Tennis', 'Worthington-Smyth', 'Henry', 3)
('Tennis Court 2', 'Butters', 'Gerald', 3)
('Tennis Court 2', 'Tracy', 'Burton', 3)
('Badminton Court', 'Crumpet', 'Erica', 2)
('Badminton Court', 'Hunt', 'John', 2)
('Badminton Court', 'Jones', 'Douglas', 2)
('Badminton Court', 'Purview', 'Millicent', 2)
('Badminton Court', 'Tracy', 'Burton', 2)
('Massage Room 1', 'Crumpet', 'Erica', 2)
('Massage Room 2', 'Bader', 'Florence', 2)
('Massage Room 2', 'Baker', 'Anne', 2)
('Massage Room 2', 'Coplin', 'Joan', 2)
('Massage Room 2', 'Joplette', 'Janice', 2)
('Massage Room 2', 'Owen', 'Charles', 2)
('Massage Room 2', 'Rownam', 'Tim', 2)
('Pool Table', 'Jones', 'Douglas', 2)
('Snooker Table', 'Jones', 'David', 2)
('Squash Court', 'Bader', 'Florence', 2)
('Squash Court', 'Mackenzie', 'Anna', 2)
('Squash Court', 'Rumney', 'Henrietta', 2)
('Squash Court', 'Sarwin', 'Ramnaresh', 2)
('Squash Court', 'Stibbons', 'Ponder', 2)
('Table Tennis', 'Crumpet', 'Erica', 2)
('Tennis Court 2', 'Smith', 'Tracy', 2)
('Badminton Court', 'Tupperware', 'Hyacinth', 1)
('Massage Room 1', 'Coplin', 'Joan', 1)
('Massage Room 1', 'Mackenzie', 'Anna', 1)
('Massage Room 1', 'Tupperware', 'Hyacinth', 1)
('Massage Room 1', 'Worthington-Smyth', 'Henry', 1)
('Massage Room 2', 'Butters', 'Gerald', 1)
('Massage Room 2', 'Genting', 'Matthew', 1)
('Massage Room 2', 'Smith', 'Jack', 1)
('Pool Table', 'Farrell', 'Jemima', 1)
('Pool Table', 'Owen', 'Charles', 1)
('Snooker Table', 'Farrell', 'David', 1)
('Snooker Table', 'Genting', 'Matthew', 1)
('Snooker Table', 'Purview', 'Millicent', 1)
('Squash Court', 'Coplin', 'Joan', 1)
('Squash Court', 'Farrell', 'David', 1)
('Squash Court', 'Hunt', 'John', 1)
('Squash Court', 'Jones', 'Douglas', 1)
('Squash Court', 'Purview', 'Millicent', 1)
('Squash Court', 'Tupperware', 'Hyacinth', 1)
('Table Tennis', 'Baker', 'Anne', 1)
('Table Tennis', 'Butters', 'Gerald', 1)
('Table Tennis', 'Hunt', 'John', 1)
('Tennis Court 1', 'Bader', 'Florence', 1)
('Tennis Court 1', 'Crumpet', 'Erica', 1)
('Tennis Court 1', 'Farrell', 'Jemima', 1)
('Tennis Court 1', 'Genting', 'Matthew', 1)
('Tennis Court 1', 'Stibbons', 'Ponder', 1)
('Tennis Court 2', 'Farrell', 'David', 1)
('Tennis Court 2', 'Farrell', 'Jemima', 1)
('Tennis Court 2', 'Purview', 'Millicent', 1)
('Tennis Court 2', 'Rumney', 'Henrietta', 1)
('Tennis Court 2', 'Smith', 'Jack', 1)

Q13: Find the facilities usage by month, but not guests

In [28]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT Facilities.name, strftime('%m',Bookings.starttime) AS Month, COUNT(*) AS MonthlyUsage
        FROM ((Bookings
        INNER JOIN Members
        ON Members.memID=Bookings.memid)
        INNER JOIN Facilities
        ON Facilities.facid=Bookings.facid)
        WHERE Bookings.memid != 0
        GROUP BY Facilities.name, Month;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', '07', 51)
('Badminton Court', '08', 132)
('Badminton Court', '09', 161)
('Massage Room 1', '07', 77)
('Massage Room 1', '08', 153)
('Massage Room 1', '09', 191)
('Massage Room 2', '07', 4)
('Massage Room 2', '08', 9)
('Massage Room 2', '09', 14)
('Pool Table', '07', 103)
('Pool Table', '08', 272)
('Pool Table', '09', 408)
('Snooker Table', '07', 68)
('Snooker Table', '08', 154)
('Snooker Table', '09', 199)
('Squash Court', '07', 23)
('Squash Court', '08', 85)
('Squash Court', '09', 87)
('Table Tennis', '07', 48)
('Table Tennis', '08', 143)
('Table Tennis', '09', 194)
('Tennis Court 1', '07', 65)
('Tennis Court 1', '08', 111)
('Tennis Court 1', '09', 132)
('Tennis Court 2', '07', 41)
('Tennis Court 2', '08', 109)
('Tennis Court 2', '09', 126)